.movie-view {
  background-color: whitesmoke;
  padding: 1.35em;
  border-radius: 13px;
}

.movie-view * {
  background: #fff;
  margin: 0;
}

img {
  width: 100%;
}

.movie-poster {
  background-color: #dbdbdb;
  border-radius: 7px;
}