$color: red;
$color-10Dkr: darken($color, 10%);

body {
  background-color: beige;
}

.main-view {
  background-color: lightblue;
}

.movie-card {
  background-color: lightgreen;
}

.movie-view {
  background-color: lightpink;
}