$color: red;
$color-10Dkr: darken($color, 10%);

:root {
  background-color: beige;
}

form {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.35em;
}

form label {
  padding: 0.35em;
}

a {
  cursor: pointer;
}